/* dashboard.css */
.body {
  }
  
  .dashboard-container {
    background-color: white; /* Optional: You can set a different background for the container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    text-align: center;
  }
  