.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    
  }
  
  .modal h2 {
    margin-bottom: 20px;
    color: #4a4a4a;
  }
  
  .modal input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .cancel-button, .change-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .cancel-button {
    background: #e67e22;
  }
  
  .cancel-button:hover {
    background: #d35400;
  }
  
  .change-button {
    background: #3498db;
  }
  
  .change-button:hover {
    background: #2980b9;
  }
  