.app-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-grow: 1;
  background-color: rgba(224, 254, 255, 0.322);
  position: relative; /* Added */
}

.main-content .sidenav {
  flex-shrink: 0;
}

.main-content .main-dashboard {
  flex-grow: 1;
  padding: 20px;
  display: flex; /* Added */
  justify-content: center; /* Added */
  align-items: center; /* Added */
  position: relative; /* Added */
}
